<div class="form">
  <div class="flex justify-center">
    <h2 class="text-4xl dark:text-black pb-4">Hey {{username}}! Here are your recipes! </h2>
  </div>
  <!-- if a recipe for each title and next to it button for edit and delete -->
  {{#each recipes}}
    <li>{{this.title}}
      <a
        href="/profile/your-recipes/details/{{this.id}}"
        class="underline"
      >Details</a>
      <a
        href="/profile/your-recipes/edit-recipe/{{this.id}}"
        class="underline"
      >Edit</a>
      <a
        href="/profile/your-recipes/delete/{{this.id}}"
        class="underline"
      >Delete</a>
    </li>
  {{/each}}
  <br />
  <br />
  <!--<button onclick="scrollToSection()" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 shadow-md" >Create recipe</button> -->

  <div class="flex justify-center">
    <h2 class="text-4xl dark:text-black pb-4">You want to create a new one? Go ahead!</h2>
  </div>
  <br>
    <br>
    <br>
  <form action="/profile/your-recipes" method="POST">
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        id="title"
        name="title"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="title"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Title</label>
    </div>
     <br>
    <br>
    <br>
    <div class="relative z-0 w-full mb-6 group">
      <textarea
        id="ingredients"
        name="ingredients"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      ></textarea>
      <label
        for="ingredients"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Write down the recipe ingredients and quantities</label>
    </div>

    <br />
    <br />

    <div class="relative z-0 w-full mb-6 group">
      <textarea
        id="instructions"
        name="instructions"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      ></textarea>
      <label
        for="ingredients"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Instructions</label>
    </div>
 <br>
    <br>
    <br>
    <div class="relative z-0 w-full mb-6 group">
      <label for="dishType" class="sr-only"></label>
      <select
        id="dishType"
        name="dishType"
        class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
        required
      >
        <option selected>Dish Type</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Main Course">Main Course</option>
        <option value="Soup">Soup</option>
        <option value="Snack">Snack</option>
        <option value="Drink">Drink</option>
        <option value="Dessert">Dessert</option>
        <option value="Other">Other</option>
      </select>
    </div>
 <br>
    <br>
    <br>
    <div class="relative z-0 w-full mb-6 group">
      <label for="diet"></label>
      <select
        id="diet"
        name="diet"
        class="mb-6 block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
        required
      >
        <option selected>Diet</option>
        <option value="Vegan">Vegan</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Plant based">Plant based</option>
        <option value="Gluten free">Gluten free</option>
        <option value="Omnivore">Omnivore</option>
      </select>
    </div>
 <br>
    <br>
    <br>
    <div class="relative z-0 w-full mb-6 group">
      <label for="cuisine"></label>
      <select
        id="cuisine"
        name="cuisine"
        class="mb-6 block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
        required
      >
        <option selected>Cuisine</option>
        <option value="African">African</option>
        <option value="Asian">Asian</option>
        <option value="European">European</option>
        <option value="North American">North American</option>
        <option value="South American">South American</option>
        <option value="Oceanian">Oceanian</option>
      </select>
    </div>
 <br>
    <br>
    <br>
    <div class="instruction relative z-0 w-full mb-6 group">
      <label
        for="duration"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Duration (in minutes):</label>
      <input
        type="number"
        id="duration"
        name="duration"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        required
      />
    </div>
 <br>
    <br>
    <br>
    <div class="instruction relative z-0 w-full mb-6 group">
      <label for="level"></label>
      <select
        id="level"
        name="level"
        class="mb-6 block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
        required
      >
        <option selected>Level</option>

        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Pro">Pro</option>
      </select>
    </div>
    
    <div class="flex justify-center">
      <input
        type="submit"
        value="Create recipe"
        class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 shadow-md"
      />
    </div>
  </form>
</div>