<h3>Your recipes, {{name}}</h3>
<!-- if a recipe for each title and next to it button for edit and delete -->
 {{#each recipes}}
            <li>{{this.title}}
            <a href="/profile/your-recipes/details/{{this.id}}">Details</a>
           <a href="/profile/your-recipes/edit-recipe/{{this._id}}">Edit</a>
            <a href="/profile/your-recipes/delete/{{this.id}}">Delete</a>
            </li>
          {{/each}}
   <br>
   <br>
   <br>

<h3>Create recipe</h3>
<form action="/profile/your-recipes" method="POST">

  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>
  <br>
  <br>

  <label for="ingredients">Write down the recipe ingredients and quantities:</label>
  <textarea id="ingredients" name="ingredients" required></textarea>
  <br>
  <br>

  <label for="instructions">Instructions:</label>
  <textarea id="instructions" name="instructions" required></textarea>
  <br>
  <br>

  <label for="dishType">Dish Type:</label>
  <select id="dishType" name="dishType" required>
    <option value="Breakfast">Breakfast</option>
    <option value="Main Course">Main Course</option>
    <option value="Soup">Soup</option>
    <option value="Snack">Snack</option>
    <option value="Drink">Drink</option>
    <option value="Dessert">Dessert</option>
    <option value="Other">Other</option>
  </select>

  <label for="diet">Diet:</label>
  <select id="diet" name="diet" required>
    <option value="Vegan">Vegan</option>
    <option value="Vegetarian">Vegetarian</option>
    <option value="Plant based">Plant based</option>
    <option value="Gluten free">Gluten free</option>
    <option value="Omnivore">Omnivore</option>
  </select>

  <label for="cuisine">Cuisine:</label>
  <select id="cuisine" name="cuisine" required>
    <option value="African">African</option>
    <option value="Asian">Asian</option>
    <option value="European">European</option>
    <option value="North American">North American</option>
    <option value="South American">South American</option>
    <option value="Oceanian">Oceanian</option>
  </select>

  <label for="duration">Duration (in minutes):</label>
  <input type="number" id="duration" name="duration" required>

  <label for="level">Level:</label>
  <select id="level" name="level" required>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Pro">Pro</option>
  </select>

  <input type="submit" value="Create">
</form>



 